@import 'customize/cms/product-comparing/add-to-comparing/add-to-comparing.component';
@import 'customize/cms/product-comparing/header-comparing-icon/header-comparing-icon.component';
@import 'customize/cms/product-comparing/comparing-categories/comparing-categories.component';
@import 'customize/cms/product-comparing/product-comparing/product-comparing.component';


cx-breadcrumb {
  text-align: left;
  max-width: 1140px;
  margin: auto;

}
